<div id="wrapper">


<header id="header">
  <div class="inner">
<h1>Header goes here</h1>
{% include "@organisms/site/site-header/site-header.twig" %}
</div>
</header>

<div id="main">
  <div class="inner">


<h1>Content goes here</h1>
  </div><!-- /.inner-->
</div><!-- /#main-->
<footer>Footer goes here</footer>
</div><!-- /#wrapper-->
