<div id ="wrapper">
<footer id="footer">
  <div class="inner">
{% include '@molecules/phantom-footer-form.twig' %}
{% include '@molecules/phantom-footer-icons.twig' %}
{% include '@molecules/phantom-footer-copyright.twig' %}

  </div> <!-- /.inner-->
</footer>
</div><!-- /#wrapper-->
