<!--main -->
<div id="main">
  <div class="inner">
    <header>
      {% include '@atoms/phantom-main-header.twig'%}
          {% include '@atoms/phantom-main-paragraph.twig'%}
          </header>

        </div> <!-- /#main-->
        </div>  <!-- /.inner-->
