<header id="header">
  <div class="inner">
<!-- Logo -->
{% include '@atoms/phantom-logo.twig'%}
  <!-- Nav -->
    {% include '@atoms/phantom-nav.twig'%}
  </div><!-- /.inner-->
</header><!--/#header-->

<!-- Menu -->
{% for hamburger in hamburgers %}
 {% include '@molecules/phantom-hamburger.twig' with hamburger %}
 {% endfor %}
      <!-- menu END-->


      <!-- Scripts -->
        <script src="../../../../js/jquery.min.js"></script>
        <script src="../../../../js/skel.min.js"></script>
        <script src="../../../../js/util.js"></script>
        <!--[if lte IE 8]><script src="../../../../js/ie/respond.min.js"></script><![endif]-->
        <script src="../../../../js/main.js"></script>
