<div id="wrapper">
  <!-- Header -->
    <header id="header">
      <div class="inner">
    <!-- Logo -->
    {% include '@atoms/phantom-logo.twig'%}
      <!-- Nav -->
        {% include '@atoms/phantom-nav.twig'%}
      </div><!-- /.inner-->
  </header><!--/#header-->

  <!-- Menu -->
  <nav id="menu">
    <div class="inner">
  	{% include '@atoms/phantom-hamburger.twig'%}
  		</div><!--/.inner -->
        {% include '@atoms/phantom-close.twig'%}
          </nav><!-- /#menu-->
          <!-- menu END-->

<!--main -->
<div id="main">
  <div class="inner">
    <header>
      {% include '@atoms/phantom-main-header.twig'%}
          {% include '@atoms/phantom-main-paragraph.twig'%}

    </header>
</div> <!-- /#main-->
</div>  <!-- /.inner-->
</div><!--/#wrapper-->

<!-- Scripts -->
  <script src="../../../../js/jquery.min.js"></script>
  <script src="../../../../js/skel.min.js"></script>
  <script src="../../../../js/util.js"></script>
  <!--[if lte IE 8]><script src="../../../../js/ie/respond.min.js"></script><![endif]-->
  <script src="../../../../js/main.js"></script>
