

  <a href="{{logo_link}}" class="logo">
    <span class="symbol"><img src="{{logo_img}}" alt="{{img_alt}}" /></span>
    <span class="title">{{logo_header}}</span>
      </a>


      <!-- <header id="header">
        <div class="inner">


            <a href="index.html" class="logo">
              <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
            </a>


            <nav>
              <ul>
                <li><a href="#menu">Menu</a></li>
              </ul>
            </nav>

        </div>
      </header> -->
