
    <nav>
      <ul>
        <li><a href="{{menu_link}}">{{menu_text}}</a></li>
      </ul>
    </nav>


      <!-- <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav> -->
