<div id="wrapper">
  <!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
      <a href="{{logo_link}}" class="logo">
        <span class="symbol"><img src="{{logo_img}}" alt="{{img_alt}}"/></span>
        <span class="title">{{logo_header}}</span>
      </a>

    </div>
  </header>
</div>
